<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dashboard</h1>
    <div class="continer-nav">  
        <button id="schduleButton"><a href="{{ url_for('schedule') }}">Schedule</a></button>
        <button id="stockButton"><a href="https://www.avanza.se/borsen-idag.html" target="_blank">Stockmarket</a></button>
        <button id="newsButton"><a href="https://www.theguardian.com/europe" target="_blank">News</a></button>
        <button id="youtubeButton"><a href="https://www.youtube.com/" target="_blank">Youtube</a></button>
    </div>
    <h2>Välj en AI-modell:</h2>
    <div class="select-model">
        {% for cls in models %}
            <label onclick="fetchRecommendations()">
                <input type="radio" id="{{ cls }}" name="model" value="{{ cls }}" {% if cls == model %}checked{% endif %}>
                {{ cls }}
            </label><br>
        {% endfor %}
    </div>
    <div class="container-content">
        <div class="container-classes">
            <h2>Classes for Today</h2>
            {% if classes %}
                <ul>
                    {% for cls in classes %}
                        <li>
                            <strong>Time:</strong> {{ cls['Tid'] }}<br>
                            <strong>Course Occasion:</strong> {{ cls['Kurstillfälle'] }}<br>
                            <strong>Group:</strong> {{ cls['Grupp'] }}<br>
                            <strong>Moment:</strong> {{ cls['Moment'] }}<br>
                            <strong>Teacher:</strong> {{ cls['Lärare'] }}<br>
                            <strong>Location:</strong> {{ cls['Lokal/Plats'] }}<br>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No classes scheduled for today.</p>
            {% endif %}
            <div class="container-ai_recomedation">
                <h2>AI Recommendation</h2>
                <div id="recommendations"></div>
                <div id="recommendations-help"></div>
            </div>
        </div>
        <div class="container-ollama">
            <form id="ollamaForm">
                <h1 id="select-model">Using {{ model }}</h1>
                <textarea id="prompt" name="prompt" placeholder="Ask something..." rows="4" cols="50"></textarea>
                <br>
                <button type="button" onclick="sendPrompt()">Send</button>
            </form>
                <h2>Answer</h2>
                <div id="response"></div>
            </div>
        <div class="container-booking">
            <iframe 
                id="myIframe"
                src="https://tvatt.kopparstaden.se/PassadBookingClient?module=wwwash&customerName=110-005-1-050&timestamp=2025-02-10%2012:41:31&hash=48rw9c8w41U-M7U2T-X8BsiX-Y4*&lang=sv-SE" 
                height="800px"
                style="display: block; margin: 0 auto; filter: invert(100%) brightness(85%);">
            </iframe>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>

