<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Dashboard</h1>
    <div class="continer-nav">  
        <button id="schduleButton"><a href="{{ url_for('schedule') }}">Schedule</a></button>
        <button id="stockButton"><a href="https://www.avanza.se/borsen-idag.html" target="_blank">Stockmarket</a></button>
        <button id="newsButton"><a href="https://www.theguardian.com/europe" target="_blank">News</a></button>
        <button id="youtubeButton"><a href="https://www.youtube.com/" target="_blank">Youtube</a></button>
    </div>
        <div class="container-content">
            <div class="container-classes">
                <h2>Classes for Today</h2>
                {% if classes %}
                    <ul>
                        {% for cls in classes %}
                            <li>
                                <strong>Time:</strong> {{ cls['Tid'] }}<br>
                                <strong>Course Occasion:</strong> {{ cls['Kurstillfälle'] }}<br>
                                <strong>Group:</strong> {{ cls['Grupp'] }}<br>
                                <strong>Moment:</strong> {{ cls['Moment'] }}<br>
                                <strong>Teacher:</strong> {{ cls['Lärare'] }}<br>
                                <strong>Location:</strong> {{ cls['Lokal/Plats'] }}<br>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No classes scheduled for today.</p>
                {% endif %}
            </div>
            <div class="container-ollama">
                <form id="ollamaForm">
                    <h1>Ask the Ollama Model</h1>
                    <textarea id="prompt" name="prompt" placeholder="Ask something..." rows="4" cols="50"></textarea>
                    <br>
                    <button type="button" onclick="sendPrompt()">Send</button>
                </form>
                <p>Answer</p>
                <div id="response-box">
                    <div id="response"></div>
                </div>
                <div class="container-ai_recomedation">
                    <h2>AI Recommendation</h2>
                    <div id="recommendations"></div>
                </div>
            </div>
        </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
