*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --gray-light: #444444;
  --gray-medium: #2a2a2a;
  --gray-dark: #1e1e1e;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--gray-dark);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.continer-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

button {
  background-color: var(--gray-light);
  color: var(--primary-color);
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

button a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
}

.container-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.container-classes,
.container-ollama {
  background-color: var(--gray-dark);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-content h1, .container-content h2 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--gray-light);
  padding-bottom: 10px;
}

.container-classes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-classes li {
  background-color: var(--gray-medium);
  border: 1px solid var(--gray-light);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container-classes li strong {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  background-color: var(--gray-medium);
  color: var(--primary-color);
  resize: none;
  padding: 20px;
}

#response-box {
  margin-top: 20px;
  background-color: var(--gray-medium);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

#myIframe {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 800px;
  display: block;
}

.container-booking {
  grid-column: 1 / -1;
  width: 100%;
  margin: 20px 0;
}
